
body {
   background-color: #333333; 
   font-family: 'Georgia';
   color: white; 
   max-width: 1000px; 
   margin: 0 auto; 
   padding: 20px; 
}


a {
   color: rgb(220,255,220); 
}

a:visited {
   color: rgb(255,220,220); 
}

